#view-next-module,
#view-previous-module,
#view-all-modules {
}

.only-show-selected-module {
  & :global(#context_modules) {
    &.selected > :global(.context_module) {
      display: none !important;

      &.selected {
        display: revert !important;
        border-bottom-style: none;

        & > :global(.sortable-handle) {
          display: none;
        }
      }
    }

    & > :global(#context_module_new) {
      display: none !important;
    }

    & .select-module {
      display: none;
      line-height: 0;
      font-size: 0.75em;
    }

    &:not(.selected) :global(.ig-header):hover .select-module {
      display: revert;
    }
  }
}