#view-next-module,
#view-previous-module,
#view-all-modules {
}

.modules > :global(.context_module) {
  display: none;

  &.selected {
    display: block;
    border-bottom-style: none;

    & > :global(.sortable-handle) {
      display: none;
    }
  }
}
