#view-next-module,
#view-previous-module,
#view-all-modules {
}

.modules {
  & > * {
    display: none;
  }

  & > .selected {
    display: block;
    border-bottom-style: none;

    & > :global(.sortable-handle) {
      display: none;
    }
  }
}
